// Color Variables

//Primary color
$primary_color : var(--primary_color);
$primary_rgb_color : var(--primary_rgb_color);
$primary_rgb_color : var(--primary_rgb_color);
$primary80_color: var(--primary80_color);
$primary90_color: var(--primary90_color);
$primary95_color: var(--primary95_color);
$primary99_color: var(--primary99_color);
$primary100_color: var(--primary100_color);

//Secondary color
$secondary_color: var(--secondary_color);
$secondary_rgb_color: var(--secondary_rgb_color);
$secondary_rgb_color: var(--secondary_rgb_color);
$secondary_main_color: var(--secondary_main_color);

//Tertiary color
$tertiary_color: var(--tertiary_color);
$tertiary_rgb_color: var(--tertiary_rgb_color);
$tertiary_rgb_color: var(--tertiary_rgb_color);
$tertiary95_color: var(--tertiary95_color);
$tertiary99_color: var(--tertiary99_color);
$tertiary100_color: var(--tertiary100_color);

// Tertiary Tone color 
$tertiary_tone98_color: var(--tertiary_tone98_color);
$tertiary_fixed_color: var(--tertiary_fixed_color);


//Error color
$error_color: var(--error_color);
$error_rgb_color: var(--error_rgb_color);
$error_rgb_color: var(--error_rgb_color);
$error_main_color: var(--error_main_color);
$error95_color: var(--error95_color);

//Error Shades Color
$error_shades190p_color: var(--error_shades190p_color);

//Success color
$success_main_color: var(--success_main_color);

//Success Shades Color
$success_shades190p_color: var(--success_shades190p_color);

//Neutral Color
$neutral50_color: var(--neutral50_color);
$neutral60_color: var(--neutral60_color);
$neutral70_color: var(--neutral70_color);
$neutral80_color: var(--neutral80_color);
$neutral87_color: var(--neutral87_color);
$neutral90_color: var(--neutral90_color);
$neutral92_color: var(--neutral92_color);
$neutral94_color: var(--neutral94_color);
$neutral95_color: var(--neutral95_color);
$neutral96_color: var(--neutral96_color);
$neutral99_color: var(--neutral99_color);

//Neutral Variant Color
$neutral_variant60_color: var(--neutral_variant60_color);
$neutral_variant87_color: var(--neutral_variant87_color);
$neutral_variant90_color: var(--neutral_variant90_color);

//Tone Color
$tone_color: var(--tone_color);
$tone100_color: var(--tone100_color);
$tone_rgb_color: var(--tone_rgb_color);

//Value color
$value_color: var(--value_color);
$white_color: var(--white_color);
$white_rgb_color: var(--white_rgb_color);
$black_color: var(--black_color);
$black_rgb_color: var(--black_rgb_color);

$light_gray: var(--light_gray);


// Kuroi Color
$kuroi_black50_color: var(--kuroi_black50_color);
$kuroi_black200_color: var(--kuroi_black200_color);

//Other color
$head_color: var(--head_color);

$google_color: var(--google_color);
$facebook_color: var(--facebook_color);
$apple_color: var(--apple_color);

// Fonts family
$font_light: var(--font_light); // Weight 300
$font_roman: var(--font_regular); // Weight 400
$font_medium: var(--font_medium); // Weight 500
$font_bold: var(--font_bold); // Weight 700